/* CSS Document */
header{
	background:repeating-linear-gradient(black,blue);
	width: 98.5%;
	height: 40px;
	color: white;
	font-size: 200%;
	padding: 10px 10px 10px 10px;
}

body{
	background:url("Assets/Images/Background.jpg");
	background-size: cover;
	font-family: "Arial";
	color: white;
}

ul{
	margin: 1px;
	padding: 0px 0 0 0;
	list-style: none;
	
}

ul li{
	float : right;
	width: 20%;
	height: 25px;
	background: repeating-linear-gradient(blue,black);
	opacity: 0.8;
	line-height: 25px;
	text-align: center;	
}

ul li a{
	text-decoration: none;
	color: white;
	display: block;
	
}

ul li a:hover{
	background-color: white;
	color: black;
}
