.center{
	background-color: black;
	opacity: 0.5;
	position: absolute;
	width: 90%;
	height: 70%;
	left: 50%;
	top:50%;
	margin-left: -45%;
	margin-top: -12.5%; 
}

html{
	background: black;
}


nav{
	color:white;
	opacity: 1.0;
}

nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 40px;
}

nav ul li{
	padding-top: 1%;
	padding-bottom: 3%;
	float: left;
	width: 20%;
	height: 0px;
	background-color: white;
	color: black;
	text-align: center;
	
}

nav ul li:hover{
	background-color: red;
}

nav ul li a{
	font-size-adjust: auto;
}
.Left {
	align-content: left;
}
.Right {
	align-content: right;
}
.CenterLogo {
	align-content: center;
}
