.center{
	
	position: absolute;
	width: 90%;
	height: 70%;
	left: 50%;
	top:50%;
	margin-left: -45%;
	margin-top: -20.5%; 
}

html{
	background: url("../Assets/Images/Background_files/122762.jpg");
	
}


nav{
	color:white;
	opacity: 1.0;
}

nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 40px;
}

nav ul li{
	padding-top: 1%;
	padding-bottom: 3%;
	float: left;
	width: 20%;
	height: 0px;
	background-color: white;
	opacity: 0.7;
	color: black;
	text-align: center;
	font-family: "Open Sans";
	font-variant-caps: all-small-caps;
	font-size: 25px
	
}

nav ul li:hover{
	background-color:gray;
	color: white;
}

nav ul li a{
	font-size-adjust: auto;
}
.Left {
	align-content: left;
}
.Right {
	align-content: right;
}
.CenterLogo {
	align-content: center;
}
